body{
	background: #e6b3ff;
}
/* This is the animation code. */
@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   background: #ff9999;
   font-family: helvetica;
   font-size: 50px;
   color: #e6b3ff;

   animation-iteration-count: infinite;
}

/* This is the animation code. */
@-webkit-keyframes example2 {
   from { transform: scale(8.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox2 {
   -webkit-animation-name: example2;
   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 2s;             /* 0 is the default */
   -webkit-animation-iteration-count: 3;    /* 1 is the default */
   -webkit-animation-direction: normal;  /* normal is the default */
   margin-left: 300px;
   margin-top: 300px;
   height: 50px;
   width: 110px;
   font-family: helvetica;
   font-size: 50px;
   background: #ffff4d;
   color:#e6b3ff;
   opacity: .8;
   animation-iteration-count: infinite;
   
}

/* This is the animation code. */
@-webkit-keyframes example3 {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox3 {
   -webkit-animation-name: example3;
   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function:ease-in-out; /* ease is the default */
   -webkit-animation-delay: 2s;             /* 0 is the default */
   -webkit-animation-iteration-count: 3;    /* 1 is the default */
   -webkit-animation-direction: normal;  /* normal is the default */
   background: #ff4d4d;
   margin-left: 300px;
   margin-top: 300px;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   cursor: pointer;
  
  transition-property: background;
  transition-duration: 2s;
  transition-delay: .4s;
  transition-timing-function: linear;
  
}
   

@keyframes slide2 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}


.background2 {
 
  border-radius: 30px;
  height: 300px;
  position: relative;
  min-width: 538px;
  width: 600px;
}

.background2:hover .dot2 {
  animation-name: slide2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot2 {
  font-family: helvetica;
  font-size: 300px;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

















